

.well {
  background: none;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #CFF5FF;
}

td.display-none {
	display: none;
}

div.hidden {
	display: none;
}

tr.display-select {
     background-color: #E6E6E6;
}


.kbutton-image:after {
    content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 3px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.kbutton-pencil:after{
     background-image : url(../../icons/pencil-icon.png);
}

.kbutton-edit-16:after{
     background-image : url(../../icons/edit16.png);
}

.kbutton-delete-16:after{
     background-image : url(../../icons/delete16.png);
}


.kbutton-edit-24:after{
     background-image : url(../../icons/edit24.png);
}

.kbutton-delete-24:after{
     background-image : url(../../icons/delete24.png);
}




output.message {
    color: blue;
    font-style: italic;
}

output.success {
    color: green;
    font-style: normal;
}

output.error {
    color: red;
    font-weight: bold;
    font-style: normal;
}

div.spacer
{
    font-size: 0;
    height: 50px;
    line-height: 0;
}

div.spacer1
{
    font-size: 0;
    height: 10px;
    line-height: 0;
}

div.spacer10
{
    font-size: 0;
    height: 10px;
    line-height: 0;
}

div.spacer50
{
    font-size: 0;
    height: 50px;
    line-height: 0;
}

img.one {
  height: auto;
  width: auto;
}

img.two_ {
  height: 100%;
  width: 100%;
}


img.two {
  height: 225%;
  width: 90%;
}

img.hw {
  height: 225%;
  width: 90%;
}

img.ten {
  height: 80%;
  width: 15%;
}


div.rect300
{
   width:300px;
   height:180px;
   display: inline-block;
}







textarea.yellow {
 width: 300px;
 height: 100px;
 background-color: yellow;
 font-size: 1em;
 font-weight: bold;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 border: 1px solid black;
}

textarea.dplmold {
 width: 300px;
 height: 160px;
 font-size: 9px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 border: 1px solid black;
}

textarea.dplm {
 resize: none;
 wrap: hard;
 overflow-y: scroll; /* az20200304 allow vertical scroll */
 overflow-x: scroll; /* az20200304 allow horizontal scroll */
 width: 300px;
 height: 400px;
 font-family: monospace;
 font-size: 12px;
 font-style: normal;
 font-variant: normal;
 font-weight: 400;
 line-height: 12px;
 border: 1px solid black;
}


textarea.dplmh {
 resize: none;
 overflow-y: scroll; /* az20200304 allow vertical scroll */
 overflow-x: scroll; /* az20200304 allow horizontal scroll */
 width: 100%;
 height: 50%;
 font-family: monospace;
 font-size: 12px;
 font-style: normal;
 font-variant: normal;
 font-weight: 400;
 line-height: 12px;
 border: 1px solid black;
}








textarea.dplm10 {
 resize: none;
 overflow-y: scroll; /* az20200304 allow vertical scroll */
 overflow-x: scroll; /* az20200304 allow horizontal scroll */
 width: 300px;
 height: 80px;
 font-size: 14px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 border: 1px solid black;
}


textarea.logoutput {
  width: 300px;
  height: 100px;
  min-height: 100px;
  display: block;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

textarea.log2output {
  width: 170px;
  height: 200px;
  min-height: 100px;
  display: block;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


textarea.log02output {
  width: 170px;
  height: 60px;
  min-height: 60px;
  display: block;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
span.code {
  font-family:courier, monospace;
  font-size:12px;
  font-weight:bold;
 }


fieldset {
    border-radius:10px;
    padding: 10px;
}


body {

	font-family: Arial, Helvetica, sans-serif;

	margin: 0 0;
	padding: 0 0;
	color: #333;
	font-size: 14px;
}


.ml {
	margin-left: 15px;
}

.pl {
	padding-left: 15px;
}


.slider-container {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
}

.label {
	font-weight: bold;
	white-space: nowrap;
}



.circleblue {
  background: #456BD9;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}


.circlered {
  background: #EA4436;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.circlegreen {
  background: #34A952;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
