
view_foo
<br>
<div class="col-sm-12">
	<div class="panel-heading">
		<div class="mt-1">
			<button type="button" id="backButton"
				class="btn btn-default kbutton-image kbutton-edit-c32"
				onclick="backClick();">Back to Animation</button>
		</div>
	</div>
	<table id="fooTable"
		class="table table-sm table-hover table-condensed  ">
		<thead>
			<tr>
				<th>name</th>
				<th>foo</th>
				<th>bar</th>
			
				<th>sess</th>
				<th>e</th>
				<th>d</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<br>end view_foo
