<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Security-Policy"
	content="connect-src * 'unsafe-inline';">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Connecthive</title>
<link rel="stylesheet" href="css/wsclient.css">
<link rel="stylesheet" href="css/button-w3.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="vendor/other/sticky-footer-navbar.css">
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/other/lodash-2.4.1.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/other/jquery.form.populator.js"></script>
<script src="js/common.js"></script>
<script src="js/channels.js"></script>
<script type="text/template" id="channel-template">
         <% _.each(channels, function(channel) { %>
         <tr>
             <td><a href="#" onclick="channel_find(<%=channel.id%>)">E</a></td>
             <td><a href="#" onclick="channel_delete(<%=channel.id%>)">D</a></td>
             <td><%=channel.name%></td>
             <td><a href="#" onclick="channel_goto_messages(<%=channel.id%>)">messages</a></td>
 
             <td><a href="rest/channels/<%=channel.id%>" rel="external" target="_blank">JSON</a></td>
         </tr>
         <% }); %>
      </script>

<script type="text/javascript">
         $( document ).ready( function() {
        	 init_channel_page();
         });
</script>

</head>
<body>
	<nav id="navbar"
		class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
	</nav>

	<div id="d_form" style="position: absolute; top: 65px; left: 25px">
		<div>
			<a href="users.html"  >go to users</a>
			<form id="channel_form">
				<fieldset>
					<legend>Channels</legend>
					<input type="hidden" name="id" id="id" />
					<table>
						<tbody id="channellayout">
							<tr>
								<td><label for="name">Name:</label></td>
								<td><input type="text" name="name" id="name"
									placeholder="Name" required autofocus /></td>
								<td><span class="form_err" id="msg_name"></span></td>
							</tr>
							<tr>
								<td><label for="description">Description:</label></td>
								<td><input type="text" name="description" id="description"
									placeholder="Description" /></td>
								<td><span class="form_err" id="msg_description"></span></td>
							</tr>
							<tr>
								<td><label for="privat">Private:</label></td>
								<td><input type="checkbox" name="privat" id="privat"
									placeholder="Private" /></td>
								<td><span class="form_err" id="msg_privat">bbb</span></td>
							</tr>
							<tr>
								<td><label for="dateCreationString">Date creation:</label></td>
								<td><input name="dateCreationString" id="dateCreationString"
									type="date"></td>
								<td><span class="form_err" id="msg_dateCreationString"></span></td>
							</tr>

						</tbody>
					</table>
					<div>
						<input type="submit" id="add" value="Add" /> <input type="submit"
							id="update" value="Update" />
					</div>
				</fieldset>
				<br>
			</form>
			<div>
				<button id="channel_refresh_button">Refresh Channels</button>
				<button id="channel_delete_button">Delete all</button>
				<button id="channel_messages_button">Messages</button>
				<br> <label for="range-1">Slider:</label> <input name="range-1"
					id="range-1" data-highlight="true" min="0" max="100" value="40"
					type="range" /> <br> <label for="select-1">Select:</label> <select
					name="select-1" id="select-1" data-iconpos="left">
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
				</select>
			</div>
		</div>
		<div>
			<div class="d_detail">
				<table border="1">
					<thead>
						<tr>
							<th>Find</th>
							<th>Delete</th>
							<th>Name</th>
							<th>Messages</th>
							<th>REST URL</th>
						</tr>
					</thead>
					<tbody id="channeltable">
						<tr>
							<td>F</td>
							<td>E</td>
							<td>aname</td>
							<td><a href="xxx/0" target="_blank">Messages</a></td>
							<td><a href="rest/channels/0" target="_blank">JSON</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				REST URL for all channels: <a href="rest/channels" target="_blank"
					rel="external">JSON</a>
			</div>
			<div id="channelMsgs"></div>
		</div>
	</div>
	<footer id="footer" class="footer">
		<div class="container">
			<span id="footr" class="text-muted">Slak by 2IA Imt Al?s</span>
		</div>
	</footer>
</body>
</html>